# -----------------------------------------------------------------------------
# Temporary ConTeXt files
# -----------------------------------------------------------------------------

*.log
*.mp
*.pgf
*.tmp
*.tua
*.tub
*.tuc
*.tui
*.tuo
*.vimout
m_k_i_v_*

